@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; 
}
.container{
    width: 1200px;
    margin: 0px auto;
    /* border: 2px solid black; */
    height: 50px;
}
/* Header */
.header{
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header__logo > img{
    width: 114px;
    height: 80px;
    border-radius: 10px;
    margin-right: 30px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* nav */
.nav__item{
    text-decoration:none;
    color: #232E35;
    margin-right: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.nav__item.active{
    color: rgb(145, 55, 234);
}
.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 36px;
    color: #232E35;
   
    text-align: center;
    box-shadow:azure;
}
.resume__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
}
.resume__button:hover{
    color: rgb(145, 55, 234);
    cursor:pointer;
    border: 2px solid rgb(145, 55, 234);
    border-radius: 50px;
    
    
}
.nav__item:hover{
    color: rgb(145, 55, 234);
    cursor: pointer;
    
    
}
.social_media{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 192px;
    height: 24px;
    gap: 32px;
    margin-top: 20px;
}
/* nav end */

/* ------------------------------------------ */
/* intro */
.intro{
    margin-top: 120px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line{
    background-color: #000000;
    height: 2px;
    width:16px;
    margin-right: 10px;
}
.nameis_wrap{
    width: 200px;
    display: flex;
    align-items: center;
}
.mynameis{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
/* identical to box height, or 200% */
    letter-spacing: 7.5px;
/* Cinder Light */
    color: #656D72;
    text-transform: uppercase;
}
.name{
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
/* Cinder */
    color: #232E35;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name_color{
    color: #7E74F1;
}
.description{
    max-width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
/* intro end */


.About{
    position: absolute;
    width: 1440px;
    height: 774px;
    /* left: 0px;
    top: 874px; */
    /* Light 1 */
    background: #fbfbfb;
}
.section_title{
    width:240px;
    height:78px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items: center;
}
.About_line{
    background-color:black;
    width: 16px;
    height: 2px;
}
.about_title{
    color:#656D72;
    width: 194px;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.tag_title{
    position: absolute;
    width: 240px;
    height: 45px;
    left: 0px;
    top: 45px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* Cinder */
    color: #232E35;
}
.about_section{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 1195px;
    height: 294px;
}
.ab_item{
    width: 361px;
    height: 294px;
    background-color: #fff;
}

/* Header end */

/* About */
.about{
    height: 600px;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;

}


.about_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
    margin-top: 30px;
    height: 130px;
    width: 250px;
}

.about_line{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.line1{
    width: 90px;
    height: 0.35px;
    background-color: grey;
    margin: 5px;
}

.line2{
    width: 150px;
    height: 0.35px;
    background-color: #232E35;
}

.men_kimman{
    text-transform: uppercase;
    font-size:x-large;
    max-width: 500px;
    
}


.kimman{
    text-transform:uppercase;
    font-size: x-large;
    font-weight: 700;
    color:#8b09d6;
}


.p_p{
    font-size: medium;
    text-transform:none;
    margin-top: 20px;
    color: #ff0000;
    
}

.p_p1{
    font-size: medium;
    text-transform: none;
    color: #ff0000;
}

.about_block{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.t{
    max-width: 500px;
}


.talim{
    font-size: x-large;
    font-weight: 700;

    max-width: 500px;
}


/* ABout end */

/* Services */
.services{
    height: 600px;
    /* background-color: antiquewhite; */
}

.secvices_title{
    font-size: xx-large;
    font-weight: 700;
}

.services_block{
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
}

.services_child{
    width: 361px;
    height: 294px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.s__icon{
    height: 65px;
    margin-bottom: 20px;
}
/* services end */

/* Contact */
.joy{
    height: 100px;
    background-color:#d9d9d9;
    margin-bottom: 30px;
}

.contact{
    height: 750px;
    background-color: #FBFBFB;
    justify-content: space-between;
}

.contact_wrapper{
    display: flex;
    justify-content: space-between;
}

.form{
    height: auto;
    width: 45%;

}

.form > input,textarea,button{
    width: 100%;
    border-radius: 7px;
    margin-top: 20px;
    padding-left:7px ;
}

input{
    box-shadow: 3px;
    height: 40px;
   
}

.textarea{
    margin-top: 20px;
}

.username{
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.email{
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Message{
    
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.send_message{
    width: 540px;
    height: 49px;
    background: #7E74F1;
    border: 1px solid #EAE6FE;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}


.info{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
}

.info_box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.iconka_for__addres{
    width: 56px;
    height: 56px;
    background: #F5F3FE;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact end */